---
layout: default
tag: location
---
<section class="">
    {% set locationList = collections.locations %}

    {% for location in locationList | reverse %}
        <article class="">
            <h2 class=""></h2>
                <a href="{{ post.url | url }}">
                    {% if location.data.title %}
                        {{ location.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class=""></p>
                <time>
                    {{ location.date | readableDate }}
                    by
                    <a>{{ location.data.author }}</a>

                </time>
            </p>
            {% if location.data.description %}
                <p class=""></p>
                    {{ location.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ location.url | url }}" class="">
                    Read more 
                </a>
            </p>

        </article>
    {% endfor %}
</section>